<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">APOD</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link " href="/login">Login</a>
    </div>

    <div class="navbar-nav">
      <a class="nav-item nav-link " href="/register">Register</a>
    </div>
    <div class="navbar-nav">
      <div *ngIf="user !== undefined">
        <p class="nav-item"> {{user.firstName}}</p>
    </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

